@import "fonts";
@import "keyframes";
@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    color: #333333;
    font-size: 16px;
    font-family: 'OpenSans-Bold';
    
}
.header {
    display: flex;
    flex-direction: column;
    padding: 0 calc(50vw - (1170px / 2));
    width: 100%;
    position: absolute;
    z-index: 2;
    color: $whiteColor;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 170px;
    i {
        color: $whiteColor;
        &:hover {
            color: #ffdd00;
            transition: .5s;
            transform: scale(1.5);
        }
    }
}
.upper-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 10px;
    .sign-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 470px;
        font-size: 12px;
        @include md {
            justify-content: flex-end;
        }
        @include sm {
            width: 200px;
        }
        a {
            color: $whiteColor;
            text-decoration: none;
            font-family: 'OpenSans-Regular';
            @include md {
                display: none;
            }
            &:hover {
                color: #ffdd00;
            }
        }
        .sign-form {
            display: flex;
            justify-content: space-between;
            width: 120px;
            text-transform: uppercase;
            position: relative;
            p {
                cursor: pointer;
                &:hover {
                    color: #ffdd00;
                }
            }
            &::before {
                content: "";
                position: absolute;
                left: 43%;
                height: 100%;
                border-left: 2px solid #ffdd00;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 54%;
        width: 100%;
        border-bottom: 1px solid #615b31;
    }
}
.logo {
    position: relative;
    left: -10px;
    font-size: 30px;
    width: 235px;
    color: #ffdd00;
    position: relative;
    user-select: none;
    z-index: 1;
    .logo_big {
        margin: 0;
        padding: 0;
        border: none;
        font-size: 82px;
        @include sm {
            font-size: 70px;
        }
    }
    .text {
        position: absolute;
        top: 50%;
        letter-spacing: 10.5px;
        transform: translateY(-50%);
        left: 20px;
        font-family: 'OpenSans-Regular';
        @include sm {
            font-size: 25px;
        }
    }
}
.lower-panel {
    padding: 0 10px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    position: relative;
    input.hamburger {
        @include displaySet(none);
    }
    label.hamburger {
        @include displaySet(none);
        @media screen and (max-width: 768px) {
            @include displaySet(flex);
            @include position(absolute, $top: 0, $right: 25px);
        }
    }
    .menu-label {
        @include displaySet(none);
        @media screen and (max-width: 768px) {
            @include position($top: 0);
            @include displaySet(flex);
        }
    }
    .top-nav {
        max-width: 450px;
        width: 100%;
        font-family: 'OpenSans-Light';
    }
    .top-menu {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        &__link {
            color: $whiteColor;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: #ffdd00;
            }
        }
    }
}
.close {
    position: absolute;
    right: -45px;
    top: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 20px;
        width: 40px;
        display: flex;
        border-bottom: 2px solid #ffdd00;
    }
    &::after {
        transform: rotateZ(45deg);
    }
    &::before {
        transform: rotateZ(-45deg);
    }
}
.start-page {
    height: 100vh;
    padding: 0 calc(50vw - (1170px / 2));
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: url('../img/desktop/header_background.png') no-repeat center center;
    background-size: cover;
    &::after {
        content: "";
        opacity: 0.3;
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .content {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        max-width: 675px;
        width: 100%;
        height: 275px;
        color: $whiteColor;
        backdrop-filter: blur(2px);
        @include lg {
            backdrop-filter: blur(0);
        }
        @include sm {
            height: 220px;
        }
        .phone {
            color: #ffdd00;
        }
        &__title {
            font-size: 48px;
            border-radius: 50px;
            @include sm {
                font-size: 30px;
            }
        }
        &__text {
            line-height: 1.5;
            font-family: 'OpenSans-Light';
            @include sm {
                font-size: 12px;
            }
        }
    }
    .tabs {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 4px 4px 8px 900px rgba(5, 9, 12, 0.8);
        max-width: 440px;
        width: 100%;
        height: 440px;
        background-color: #2b3040;
        z-index: 2;
        
    }
    .tabs__caption {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        background-color: #212534;
        height: 70px;
        text-transform: uppercase;
        color: #7a7d8f;
        .tabs__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            flex-direction: column-reverse;
            cursor: pointer;
        }
        .tabs__item.active {
            color: #ffdd00;
            border-bottom: 3px solid #ffdd00;
        }
    }
    .tabs__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 370px;
        color: $whiteColor;
        .tabs__content {
            max-width: 510px;
            width: 100%;
            height: 305px;
            display: none;
            flex-direction: column;
            align-items: center;
            p {
                text-transform: uppercase;
            }
            .login-form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 60%;
                .cont {
                    position: relative;
                    width: 100%;
                }
                .email,
                .password {
                    margin: 10px 0;
                    height: 40px;
                    width: 100%;
                    padding-left: 20px;
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                button {
                    margin-top: 20px;
                    width: 50%;
                    height: 40px;
                    background-color: transparent;
                    color: $whiteColor;
                    border: 1px solid #ffdd00;
                    border-radius: 20px;
                    cursor: pointer;
                    text-transform: uppercase;
                }
                i {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    display: none;
                    color: #333;
                }
                .show {
                    display: inline;
                }
            }
        }
        .active {
            display: flex;
            justify-content: center;
        }
    }
    .choise-tabs {
        display: flex;
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 201px;
        height: 45px;
        text-transform: uppercase;
        font-family: 'OpenSans-Regular';
        padding-left: 10px;
        ul {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            list-style-type: none;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            background-color: $whiteColor;
            cursor: pointer;
        }
        .active {
            border-left: 24px solid $dark-yellowColor;
        }
    }
}
.btn-border {
    width: 175px;
    height: 45px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid $whiteColor;
    color: #ffdd00;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold';
    cursor: pointer;
    overflow: hidden;
    position: relative;
    
    &:hover {
        background-color: $dark-yellowColor;
        color: $whiteColor;
        i {
            position: relative;
            animation: buttonAnimate 1s linear infinite;
        }
    }
}
.popular-place {
    padding: 0 calc(50vw - (1170px / 2));
    height: 1270px;
    @include lg {
        height: 1050px;
    }
    .tabs_hotel {
        &.active {
            display: flex;
            @include md {
                justify-content: flex-start;
                height: 255px;
            }
            @include sm {
                justify-content: flex-start;
                height: 330px;
            }
        }
        &.tours {
            @include sm {
                justify-content: flex-start;
                align-items: center;
                height: 530px;
            }
        }
        display: none;
        flex-wrap: wrap;
        position: relative;
        top: 2px;
        justify-content: space-between;
        align-items: center;
        height: 190px;
        margin: 0 10px;
        border-left: 24px solid $dark-yellowColor;
        background-color: #fafafa;
        padding-left: 40px;
        font-family: 'OpenSans-Regular';
        text-transform: uppercase;
        color: #878787;
        .column {
            input,
            select {
                border: none;
                height: 50px;
                width: 190px;
                padding-left: 15px;
                border-radius: 0;
                font-family: 'OpenSans-Regular';
                color: #878787;
                margin-top: 10px;
                &:focus {
                    outline: none;
                    border-left: 3px solid $dark-yellowColor;
                }
                &::placeholder{
                    color: #bbbbbb;
                    font-family: 'OpenSans-Regular';
                }
            }
        }
        .search-btn {
            position: relative;
            right: -35px;
            width: 110px;
            height: 40px;
            text-transform: uppercase;
            background-color: $dark-yellowColor;
            border: none;
            cursor: pointer;
            transform: rotate(90deg);
            font-family: 'OpenSans-SemiBold';
            font-weight: 400;
            letter-spacing: 3.25px;
            color: $whiteColor;
            @include md {
                transform: rotate(0);
            }
        }
        &.tours {
            .search-btn {
                @include lg {
                    transform: rotate(0);
                    position: relative;
                    left: -500px;
                }
                @include md {
                    left: 0;
                }
            }
        }
    }
    .content {
        text-transform: uppercase;
        padding-top: 120px;
        padding-bottom: 75px;
        @include lg {
            padding: 50px 10px;
        }
        @include md {
            text-align: center;
        }
        &__text {
            font-size: 14px;
            color: #ffdd00;
        }
        &__title {
            font-size: 30px;
            color: #333333;
        }
    }
    .slider1 {
        width: 100%;
        height: 370px;
        margin: 0 auto;
        padding: 0 10px;
        .slick-list {
            height: 400px;
            overflow: hidden;
            padding: 0 !important;
            .slick-track {
                display: flex;
                justify-content: space-between;
                @include md {
                    justify-content: space-around;
                }
            }
        }
    }
    .slider__item {
        width: 370px !important;
        height: 370px;
        position: relative;
        .text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 95px;
            background-color: $whiteColor;
            opacity: 0.8;
            .price {
                display: none;
            }
        }
        .circle {
            display: none;
        }
    }
    .slider__item {
        &:hover {
            .text-container {
                flex-direction: column;
                height: 165px;
                background-color: $dark-yellowColor;
                .price {
                    display: block;
                    padding-bottom: 20px;
                }
            }
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 50%;
                bottom: -30px;
                transform: translateX(-50%);
                width: 60px;
                height: 60px;
                background-color: $dark-yellowColor;
                color: $whiteColor;
                border-radius: 50%;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
    .item1 {
        background: url('../img/desktop/Mountain-in-Banff-National-Park.png') no-repeat center center;
        background-size: cover;
    }
    .item2 {
        background: url('../img/desktop/Glenfinnan.png') no-repeat center center;
        background-size: cover;
    }
    .item3 {
        background: url('../img/desktop/norway-today-170707-inline_56b32663084e767c2d2949951daeb5e2.png') no-repeat center center;
        background-size: cover;
    }
    .item4 {
        background: url('../img/desktop/hallstatt-ge4d305890_640.jpg') no-repeat center center;
        background-size: cover;
    }
}
.textblock {
    max-width: 670px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 265px;
    @include lg {
        padding-top: 150px;
    }
    &__title {
        font-size: 30px;
        padding-bottom: 40px;
    }
    &__text {
        font-size: 16px;
        font-family: 'OpenSans-Light';
    }
}
.slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    z-index: 4;
    @include sm {
        padding-top: 0;
    }
    .slick-active {
        button {
            background-color: #ffdd00;
            transform: scale(1.5);
        }
    }
    button {
        background-color: $whiteColor;
        margin-left: 15px;
        width: 10px;
        height: 10px;
        border: 1px solid #ffdd00;
        border-radius: 50%;
        cursor: pointer;
    }
}
.most-pop-dest {
    margin-bottom: 220px;
    @include lg {
        margin-bottom: 100px;
    }
    @include md {
        margin-top: 50px;
    }
    @include sm {
        margin-top: 70px;
    }
    .slider2 {
        width: 100%;
        height: 575px;
        position: relative;
        .slick-track {
            display: flex;
        }
        .slider__item {
            position: relative;
            height: 575px;
            .icon-block {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 470px;
                width: 100%;
                height: 205px;
                background-color: rgba(255, 255, 255, 90%);
                opacity: 1;
                color: $dark-yellowColor;
                border-radius: 10px;
                &__title {
                    padding-bottom: 50px;
                    color: #333;
                }
                .icon-container {
                    display: flex;
                }
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border: 1px solid $dark-yellowColor;
                    i:hover {
                        color: #333;
                        transition: 0.5s;
                        transform: scale(1.2);
                        cursor: pointer;

                    }
                }
            }
        }
        .item1 {
            background: url('../img/desktop/norway1.png') no-repeat center center;
            background-size: cover;
        }
        .item2 {
            background: url('../img/desktop/paris.jpg') no-repeat center center;
            background-size: cover;
        }
        .item3 {
            background: url('../img/desktop/Eiffel-Tower.jpg') no-repeat center center;
            background-size: cover;
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
            height: 28px;
            cursor: pointer;
            z-index: 1;
        }
        .slick-next {
            right: 360px;
        }
        .slick-prev {
            left: 360px;
        }
        .slick-dots {
            padding-top: 40px;
        }
    }
}
.slider__item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 620px;
    height: 355px;
    @include sm {
        flex-direction: column;
        align-items: center;
        height: 600px;
        width: 320px !important;
    }
    &.slick-center {
        margin: 0 10px;
        width: 620px;
        @include sm {
            margin: 0;
        }
        .content {
            @include sm {
                height: auto;
            }
            .details-btn {
                cursor: pointer;
                width: 100%;
                background-color: $dark-yellowColor;
                color: $whiteColor;
            }
        }
    }
    .img-container {
        width: 370px;
        height: 307px;
        position: relative;
        @include sm {
            width: 320px;
        }
        &:hover .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .icon-container {
            display: none;
            color: $whiteColor;
            width: 100%;
            height: 100%;
            background: rgba(#333, 0.7);
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.7);
                width: 30px;
                height: 30px;
                margin-left: 5px;
                cursor: pointer;
                &:hover {
                    color: $dark-yellowColor
                }
            }
        }
    }
    &.item1 .img-container {
        background: url('../img/desktop/shutterstock-605415887_1497851516.png') no-repeat center center;
        background-size: cover;
    }
    &.item2 .img-container {
        background: url('../img/desktop/Mountain-in-Banff-National-Park1.png') no-repeat center center;
        background-size: cover;
    }
    &.item3 .img-container {
        background: url('../img/desktop/best_honeymoon_destinations_for_active_couples.png') no-repeat center center;
        background-size: cover;
    }
    &.item4 .img-container {
        background: url('../img/desktop/hallstatt-ge4d305890_640.jpg') no-repeat center center;
        background-size: cover;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        max-width: 250px;
        width: 100%;
        height: 100%;
        @include lg {
            max-width: 220px;
        }
        .textblock {
            margin: 0;
            padding-bottom: 25px;   
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 240px;
            width: 190px;
            font-family: 'OpenSans-Regular';
            .price {
                font-family: 'OpenSans-Bold';
                font-size: 24px;
                color: $dark-yellowColor;
            }
            .text {
                text-align: left;
            }
            .stars {
                color: $dark-yellowColor;
                i {
                    cursor: pointer;
                }
            }
        }
        .details-btn {
            border: none;
            background: transparent;
            font-family: 'OpenSans-Regular';
            color: $dark-yellowColor;
            font-size: 16px;
            width: 70%;
            height: 50px;
            text-transform: uppercase;
            @include rwd(1600) {
                cursor: pointer;
                width: 100%;
                background-color: $dark-yellowColor;
                color: $whiteColor;
            }
            @include lg {
                width: 85%;
            }
        }
    }
}
.dest-honey {
    padding-bottom: 210px;
    @include lg {
        padding-bottom: 20px;
    }
    .textblock {
        padding-top: 0;
        padding-bottom: 75px;
        @include lg {
            padding-bottom: 0;
        }
    }
    .slider3 {
        .slick-list {
            padding: 0 !important;
            width: 100%;
            overflow: hidden;
            .slick-track {
                display: flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                @include rwd(1600) {
                    justify-content: space-around;
                }
            }
        }
    }
}
.best-package {
    height: 700px;
    background: url('../img/desktop/photo-1421091242698-34f6ad7fc088.png') no-repeat center center;
    background-size: cover;
    padding: 0 calc(50vw - (1170px / 2));
    @include lg {
        height: 500px;
    }
    @include md {
        padding: 20px 0;
        height: fit-content;
    }
    .content {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        @include lg {
            margin-bottom: 72px;
        }
        @include md {
            flex-direction: column-reverse;
        }
        .textbox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 10px;
            max-width: 460px;
            width: 100%;
            height: 300px;
            @include md {
                padding-top: 15px;
            }
            .discount {
                position: relative;
                color: #333;
                font-size: 40px;
                text-transform: uppercase;
                .percent {
                    font-size: 16px;
                    position: absolute;
                    top: 7px;
                }
                .org-text {
                    font-size: 16px;
                    color: $dark-yellowColor
                }
            }
            .title {
                font-size: 38px;
                @include sm {
                    font-size: 25px;
                }
            }
            .text {
                font-size: 15px;
                font-family: 'OpenSans-Regular';
                @include sm {
                    font-size: 12px;
                }
            }
            .read-btn {
                width: 140px;
                height: 40px;
                text-transform: uppercase;
                border: none;
                background-color: $dark-yellowColor;
                color: $whiteColor;
                font-family: 'OpenSans-Bold';
                cursor: pointer;
            }
        }
        .slider4 {
            position: relative;
            .slick-arrow {
                width: 45px;
                height: 45px;
                background: rgba(#080808, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                cursor: pointer;
                .arrow {
                    width: 10px;
                    height: 17px;
                }
                &.slick-prev {
                    left: 30px;
                }
                &.slick-next {
                    right: 30px;
                }
            }
            .slick-list {
                max-width: 600px;
                width: 100%;
                height: 400px;
                overflow: hidden;
                @include lg {
                    max-width: 400px;
                    height: 300px;
                }
                .slick-track {
                    overflow: hidden;
                    display: flex;
                    .slider__item {
                        width: 600px;
                        height: 400px;
                        @include sm {
                            width: 400px !important;
                        }
                        &.item1 {
                            background: url('../img/desktop/Glenfinnan_1.png') no-repeat center center;
                            background-size: cover;
                        }
                        &.item2 {
                            background: url('../img/desktop/norway1.png') no-repeat center center;
                            background-size: cover;
                        }
                        &.item3 {
                            background: url('../img/desktop/Mountain-in-Banff-National-Park1.png') no-repeat center center;
                            background-size: cover;
                        }
                    }
                }
            }    
        }
    }   
}
.limited {
    position: relative;
    height: 690px;
    background-color: #f9f9f9;
    padding: 120px calc(50vw - (725px / 2)) 0;
    @include lg {
        padding: 50px calc(50vw - (725px / 2)) 0;
    }
    @include md {
        height: fit-content;
        padding-bottom: 150px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 350px;
        padding: 0 10px;
        @include lg {
            height: 250px;
        }
        @include sm {
            height: 330px;
        }
        &__title {
            font-size: 30px;
        }
        &__text {
            font-family: 'OpenSans-Regular';
            font-size: 15px;
        }
        .btn-border {
            width: 170px;
            height: 45px;
            color: $dark-yellowColor;
            border: 1px solid $dark-yellowColor;
            &:hover {
                color: $whiteColor;
            }
        }
        .time-left {
            display: flex;
            justify-content: space-between;
            max-width: 655px;
            width: 100%;
            .date {
                width: 64px;
                height: 57px;
                text-transform: uppercase;
                line-height: 1.1;
                text-align: left;
                span:first-child {
                    font-size: 36px;
                }
                &.days {
                    color: #fabf3e;
                }
                &.hours {
                    color: #f18986;
                }
                &.minutes {
                    color: #28c190;
                }
            }
        }
    }
    .slider5 {
        position: relative;
        transform: translateY(23.5%);
        .slick-list {
            overflow: hidden;
            width: 724px;
            .slick-track {
                display: flex;
                overflow: hidden;
                justify-content: space-between;
                @include md {
                }
            }
        }
        .slick-prev {
            left: -150px;
            transform: translateY(-50%) rotate(180deg);
        }
        .slick-next {
            right: -150px;
            transform: translateY(-50%);
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            cursor: pointer;
        }
        .slick-disabled {
            opacity: 0.5;
            cursor: default;
        }
        .slider__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 770px !important;
            height: 300px;
            background-color: $whiteColor;
            position: relative;
            @include md {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                padding: 10px;
                width: 577px !important;
                height: 400px;
                background-color: transparent;
            }
            @include sm {
                width: 320px !important;
            }
            .img-container {
                width: 350px;
                height: 300px;
                @include md {
                    width: 100%;
                }
            }
            &.item1 .img-container {
                background: url('../img/desktop/colosseum.jpg') no-repeat center center;
                background-size: cover;
            }
            &.item2 .img-container {
                background: url('../img/desktop/raining.jpg') no-repeat center center;
                background-size: cover;
            }
            &.item3 .img-container {
                background: url('../img/desktop/hallstatt-ge4d305890_640.jpg') no-repeat center center;
                background-size: cover;
            }
            .textbox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 50px 115px 50px 30px;
                @include md {
                    padding: 0;
                }
                i {
                    color: $dark-yellowColor;
                }
                p {
                    font-family: 'OpenSans-Regular';
                    &.price {
                        font-family: 'OpenSans-Bold';
                        font-size: 40px;
                        color: $dark-yellowColor;
                        @include sm {
                            font-size: 30px;
                        }
                    }
                }
            }
            .btn-container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
                right: -30px;
                @include md {
                    position: relative;
                    right: 0;
                    bottom: 0;                
                    transform: translateY(0);
                }
            }
            .btn-border {
                background-color: $dark-yellowColor;
                color: $whiteColor;
                border-radius: 0;
                transform: rotate(-90deg);
                border: none;
                @include md {
                    transform: rotate(0);
                }
            }
        }
    }
}
.blog {
    padding: 275px calc(50vw - (1170px / 2)) 0;
    height: 1700px;
    @include lg {
        padding: 100px 0;
        height: 1450px;
    }
    @include md {
        height: fit-content;
    }
    @include sm {
        padding-top: 50px;
    }
    .big-deal {
        position: relative;
        width: 100%;
        height: 460px;
        background: url('../img/desktop/shutterstock_427994269-1-.png') no-repeat center center;
        background-size: cover;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $dark-yellowColor;
            opacity: 0.7;
        }
        .content {
            position: relative;
            text-transform: uppercase;
            z-index: 1;
            text-align: center;
            padding-top: 80px;
            &__title {
                color: $whiteColor;
                font-size: 30px;
            }
            &__text {
                color: $whiteColor;
                font-size: 16px;
                letter-spacing: 5.6px;
                font-family: 'OpenSans-Light';
                padding: 39px 0 29px;
            }
            &__form {
                margin: 0 auto;
                max-width: 480px;
                width: 100%;
                height: 50px;
                display: flex;
                .email {
                    font-size: 16px;
                    height: 50px;
                    max-width: 380px;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    padding-left: 25px;
                    color: #333;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-family: 'OpenSans-Regular';
                    }
                }
                .subm-btn {
                    background-color: #1b2739;
                    text-transform: uppercase;
                    color: $whiteColor;
                    font-family: 'OpenSans-Regular';
                    width: 100px;
                    height: 50px;
                    border: none;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            .c-video {
                position: relative;
                max-width: 630px;
                width: 100%;
                height: 355px;
                margin: 60px auto 0;
                overflow: hidden;
                @include md {
                    height: auto;
                }
                &:hover .controls {
                    transform: translateY(0);
                }
                .video {
                    width: 100%;
                    cursor: pointer;
                }
                .controls {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    flex-wrap: wrap;
                    background: rgba(0,0,0,0.5);
                    transform: translateY(100%) translateY(-5px);
                    transition: all .6s;
                    .volume {
                        display: flex;
                    }
                    .bar {
                        height: 7px;
                        top: 0;
                        left: 0;
                        width: 100%;
                        background: #000;
                        cursor: pointer;
                        .video-dur {
                            background-color: #ffff00;
                            width: 100%;
                            height: 7px;
                            position: absolute;
                            left: 0;
                            transform-origin: 0 0;
                        }
                    }
                    .buttons {
                        padding: 10px;
                    }
                    .buttons button {
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        &.play::before {
                            content: '\f144';
                        }
                        &.pause::before {
                            content: '\f28b';
                        }
                        &::before {
                            content: "\f144";
                            font-family: "Font Awesome 5 Free";
                            height: 20px;
                            width: 20px;
                            display: inline-block;
                            font-size: 20px;
                            color: #fff;
                            -webkit-font-smoothing: antialiased;
                        }
                    }
                }
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 290px;
        @include md {
            flex-direction: column;
            align-items: center;
            padding-top: 230px;
        }
        @include sm {
            padding-top: 170px;
        }
        .blog__item {
            max-width: 370px;
            width: 100%;
            padding: 10px;
            .img-container {
                max-width: 370px;
                width: 100%;
                height: 260px;
                position: relative;
                cursor: pointer;
                &:hover::after {
                    content: '';
                    display: block;
                    width: 25%;
                    height: 25%;
                    background: url('../img/svg/search-plus-solid.svg') no-repeat center center;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 5;
                }
                &.unzoom:hover::after {
                    background: url('../img/svg/search-minus-solid.svg') no-repeat center center;
                }
            }
            .img-container-1 {
                background: url('../img/desktop/journeyon.png') no-repeat center center;
                background-size: cover;
            }
            .img-container-2 {
                background: url('../img/desktop/shutterstock_427994269-1-1.png') no-repeat center center;
                background-size: cover;
            }
            .img-container-3 {
                background: url('../img/desktop/Podrozowanie-koleja-po-Japonii.png') no-repeat center center;
                background-size: cover;
            }
            .textbox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 25px 0;
                font-family: 'OpenSans-Regular';
                height: 265px;
                color: #a3a3a3;
                @include lg {
                    padding: 0;
                }
                .item__title {
                    font-size: 20px;
                    color: #4b4b4b;
                }
                .date-by {
                    display: flex;
                    justify-content: space-between;
                    color: #c9cbca;
                    text-transform: uppercase;
                    font-family: 'OpenSans-Bold';
                }
                .icons-cont {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 180px;
                    height: 40px;
                    @include md {
                        margin: 0 auto;
                    }
                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        background-color: #f9f7f7;
                        cursor: pointer;
                        &:hover {
                            background-color: #666;
                            color: #fff;
                            transition: 1s;
                        }
                    }
                    .comment {
                        color: #fbba2d;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 25px;
                        border-top-right-radius: 10px;
                    }
                    .heart {
                        color: #58cda7;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                    }
                    .share {
                        color: #253142;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 25px;
                        border-top-left-radius: 10px;
                    }
                }
            }
        }
    }
}
.footer {
    padding: 0 calc(50vw - (1170px / 2));
    background: url('../img/desktop/map.png') no-repeat center center;
    background-size: cover;
    height: 625px;
    position: relative;
    @include lg {
        height: 385px;
    }
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #1b2739;
        opacity: 0.85;
    }
    .container {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        color: #bababa;
        height: 515px;
        @include lg {
            justify-content: space-around;
            height: 315px;
        }
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 255px;
            &.supp,
            &.loc {
                @include sm {
                    display: none;
                }
            }
            .title {
                color: #fff;
                text-transform: uppercase;
                &::after {
                    display: block;
                    content: "";
                    width: 24px;
                    border-bottom: 3px solid $dark-yellowColor;
                    margin-top: 10px;
                }
            }
            .menu {
                list-style-type: none;
                height: 185px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__link {
                    color: #bababa;
                    text-decoration: none;
                    &:hover {
                        color: $dark-yellowColor;
                    }
                }
            }
        }
    }
    .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        height: 110px;
        position: relative;
        font-size: 14px;
        color: #838383;
        font-family: 'OpenSans-Regular';
        @include lg {
            height: 70px;
        }
        &::before {
            position: absolute;
            top: 0;
            display: block;
            content: "";
            border: 1px solid #838383;
            width: 100%;
        }
    }
}

.range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}
  
.range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
}
  
.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}
  
.range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
}
  
.range:active::-webkit-slider-thumb {
    outline: none;
}
  
.range::-webkit-slider-runnable-track {
    background-color: #fff;
}
    
.range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #606670;
    background-color: transparent;
}

.range::-webkit-slider-thumb {
    background-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #606670;
    box-shadow: none;
}

.get_ticket {
    display: flex;
    width: 50%;
    position: fixed;
    left: 50%;
    background-color: #333;
    z-index: 2;
    box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.5);
}
.more-det {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: fixed;
    left: 50%;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.5);
    .slider__item {
        width: 80% !important;
        padding: 20px;
        .content {
            justify-content: center;
        }
        .textblock {
            padding: 0 0 15px;
        }
        button {
            display: none;
        }
    }
}
.scroll-top {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 90vh;
    right: 50px;
    background-color: #333333;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 300;
    @include sm {
        right: 25px;
    }
}
.read-btn,
.slick-center #more-det,
.subm-btn {
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transition: all 500ms ease;
    &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -100%;
        left: 0px;
        width: 100%;
        color: #ffd630;
        position: absolute;
        background: #000000;
        content: 'More Details';
        transform-origin: left bottom;
        transform: rotateX(90deg);
        height: 50px;
    } 
    &:hover {
        transform: rotateX(-90deg) translateY(100%);
    }
}
.read-btn {
    @include sm {
        margin: 0 auto;
    }
    &::after {
        content: 'Read More';
        height: 40px;
    }
}
.subm-btn {
    border-radius: 5px;
    &::after {
        content: 'Submit';
        border-radius: 5px;
        background: $dark-yellowColor;
        color: #1b2739;
    }
}
@media screen and (max-width: 768px) {
    .top-nav {
        @include width-height($width: 70vw, $height: 100vh);
        @include position(absolute, $top: -48px, $right: 0);
        @include displaySet(flex, $justify-content: center, $flex-direction:column, $align-items: center);
        transform: translate(100vw, 0);
        box-sizing: border-box;
        transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
        border-bottom-left-radius: 100vw;
        background: rgba(255, 255, 255, 0.85);
        padding-left: 0;
        @media screen and (max-width: 576px) {
            @include width-height(100vw,100vh);
        }
        .top-nav__menu {
            @include displaySet($justify-content: end, $flex-direction:column);
            @include width-height($height: auto);
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            pointer-events: auto;
            padding-top: 50px;
            .top-menu__item {
                @include displaySet(flex, center, center);
                @include width-height(100%, 50px);
                list-style: none;
                text-transform: uppercase;
                white-space: nowrap;
                box-sizing: border-box;
                transform: translatex(100vw);
                margin-bottom: 10px;
                &::after {
                    @include displaySet(none);
                }
                &:last-child {
                    margin-bottom: 2em;
                }
                .top-menu__link {
                    @include displaySet(block);
                    text-decoration: none;
                    color: #333;
                    text-align: center;
                    font-size: calc(24px - .5vw);
                    &::before {
                        @include displaySet(none);
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    input.hamburger {
        &:checked {
            & ~ .top-nav {
                transform: translatex(0);
                border-bottom-left-radius: 0;
                .top-menu__item {
                    transform: translatex(0);
                }
            }
            & ~ label {
                > span {
                    background-color: transparent;
                    transform: rotate(90deg);
                    &:before {
                        background-color: #333;
                        transform: translate(-50%, -50%) rotate(315deg);
                    }
                    &:after {
                        background-color: #333;
                        transform: translate(-50%, -50%) rotate(-315deg);
                    }
                }
            }
            & ~ .menu-label>.closed {
                color: #333;
                @include width-height(100%);
            }
            & ~ .menu-label>.open {
                color: $whiteColor;
                @include width-height(0);
            }
        }
    }
    .menu-label {
        @include position(absolute, $top: 10px, $right: 25px, $z_index: 3);
        @include width-height(50px, 20px);
        @media screen and (max-width: 576px) {
            @include position($top: 0);
        }
        .closed,
        .open {
            @include position(absolute);
            @include width-height(50px, 20px);
            text-transform: uppercase;
            font-size: .8em;
            text-align: center;
            transform: translateY(50px);
            overflow: hidden;
            transition: width .25s .35s, color .45s .35s;
        }
        .closed {
            @include position($right: 0);
            @include width-height(0);
            color: #00000000;
        }
        .open {
            @include width-height(100%);
            color: $whiteColor;
        }
    }
    label.hamburger {
        @include displaySet(block);
        @include position(relative, $z_index: 4);
        @include width-height(50px, 50px);
        &:hover {
            cursor: pointer;
        }
        > span {
            @include position(absolute, $top: 50%);
            @include width-height(100%, 2px);
            background-color: $whiteColor;
            pointer-events: auto;
            transition-duration: .35s;
            transition-delay: .35s;
            &:before,
            &:after {
                @include pseudoElem();
                @include width-height(100%, 2px);
                @include position($left: 50%);
                background-color: $whiteColor;
                transition: transform 0.35s;
                transform-origin: 50% 50%;
            }
            &:before {
                transform: translate(-50%, -14px);
            }
            &:after {
                transform: translate(-50%, 14px);
            }
        }
    }
}